PORT=5050
MONGO_URI=mongodb://localhost:27017/masterdata
MONGO_HOST_PORT=27021
NODE_ENV=development
CORS_ORIGIN=http://localhost:5050
API_KEY=62237dfdafe89d3fbec955b34f3b9b4479dfere48a612c70b591cd5b5837d3aad0a6ac48

# Remote API (used by api_test/*.http via {{$dotenv ...}})
API_HOST=210.113.134.235
API_PORT=24240